body{
    background-color: #F0EEED;
}
h1{
    font-family: Impact;
    font-size: 5rem;
    margin: 3.35rem 0rem;
    font-weight: 500;

}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size:2.188rem ;
    margin:2.188rem 0rem ;
    font-weight: 400;

}